<div class="alert alert-dark m-3" role="alert">
  <p>burada bir hakkında yazısı hayal et</p>

</div>
<div class="aboutparagraph">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at auctor tellus.
    Donec venenatis, augue non congue mattis, nisl arcu tempor urna, sed placerat diam sem eu tellus.
    Fusce viverra bibendum elit vitae tincidunt. Duis egestas felis et turpis laoreet,
    sit amet dignissim tortor pretium. Cras interdum, libero vel posuere dictum,
    odio lectus feugiat nibh, vel interdum sapien neque in quam. Sed eget placerat sem.
    Aliquam condimentum et mi quis congue. Vivamus dapibus viverra diam, nec venenatis eros.
    Etiam iaculis justo mi.</p>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at auctor tellus.
    Donec venenatis, augue non congue mattis, nisl arcu tempor urna, sed placerat diam sem eu tellus.
    Fusce viverra bibendum elit vitae tincidunt. Duis egestas felis et turpis laoreet,
    sit amet dignissim tortor pretium. Cras interdum, libero vel posuere dictum,
    odio lectus feugiat nibh, vel interdum sapien neque in quam. Sed eget placerat sem.
    Aliquam condimentum et mi quis congue. Vivamus dapibus viverra diam, nec venenatis eros.
    Etiam iaculis justo mi.</p>
</div>
